<h1>COVID RESTRICTIONS IN GERMANY</h1>


{{#each allEntries }}

status {{this.status}}


Date {{this.currentDate}} 

Travelling To {{this.travellingTo}}

Travelling From {{this.travellingFrom}}

Quarantine {{this.quarantine}}

COVID test {{this.covidTest}}

Experience {{this.experience}}




{{/each}}