
  <h1> COVID Restrictions In {{allEntries.0.travellingTo}} </h1>

<ul>

  {{#each allEntries }}

  

  <li>User: {{this.userId.username}}</li>

 <li>Status: {{this.status}}</li>

 <li>Date: {{this.currentDate}}</li>

 <li>Travelling To: {{this.travellingTo}}</li>

 <li>Travelling From: {{this.travellingFrom}}</li>

 <li>Quarantine: {{this.quarantine}}</li>

 <li>COVID test: {{this.covidTest}}</li>

 <li>Experience: {{this.experience}}</li>

 {{/each}} 

</ul>
