<div class = 'container'>
  <h1> COVID Restrictions In {{allEntries.0.travellingTo}} </h1>
  <br>
  <br>

  <div class='filters'>
      <form action="/travel-restrictions/:travellingTo" method="GET">
      <label>Quarantine</label>
      <select name = 'quarantine'> 
        <option value=''>Please choose option</option>
        <option value='Yes'>Yes</option>
        <option value='No'>No</option>
      </select>
      <label>Status</label>
      <select name='status'>
        <option value=''>Please choose option</option>
        <option value='Yes'>Yes</option>
        <option value='No'>No</option>        
      </select>
      <label>Travelling from</label>
      <select>
      <option value = ''>Please choose a country</option>
      {{!-- not showing countries --}}
      {{#each mapCountry}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}      
      </select>
      <br>
      <button>Apply changes</button>
    </form>
  </div>
 

  <ul class = "list-group">
    
    {{#each allEntries }}
    <div>
    <li class="list-group-item">✈️ User: {{this.userId.username}}</li>

    <li class="list-group-item">✈️ Status: {{this.status}}</li>

    <li class="list-group-item">✈️ Date: {{this.currentDate}}</li>

    <li class="list-group-item">✈️ Travelling To: {{this.travellingTo}}</li>

    <li class="list-group-item">✈️ Travelling From: {{this.travellingFrom}}</li>

    <li class="list-group-item">✈️ Quarantine: {{this.quarantine}}</li>

    <li class="list-group-item">✈️COVID test: {{this.covidTest}}</li>

    <li class="list-group-item">✈️Experience: {{this.experience}}</li>
    </div>
    <br>
    <br>
    
    {{/each}} 

  </ul>

</div>
